
/* universal selector * and removes default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5bd9ff;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

.logo {
    text-decoration: underline;
    color: var(--secondary-color)
    
}
h3 {
    font-size: 3em;
}

.auto-insurance-text {
    color: black;
    position: relative;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    height: 50px;
}

.updateauto {
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 70px;
    color: rgb(0, 0, 0);
}

.whydoes {
    padding-bottom: 30px;
    color: #000000;
    font-size: 1.5em;
    text-align: center;
    /* font-style: italic; */
    font-weight: bold;
    text-shadow:1px 1px 10px #fffb0b, 1px 1px 10px #ccc;
   text-align: right;
   
}





/* padding top, right, bottom, left */
header {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /*Prefix for safari brower only */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;

}

header a {
    text-decoration: none;
    /* color: var(--primary-color); */
}

header nav {
       margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    font-style: italic;
    color: #000000;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    text-align:center;  
    text-decoration: underline;
    
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;

}

/* Body Css comments */
body {
   
    color:var(--tertiary-color);
}


/* Footer Css */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}

section {
  width: 80%;
    margin: 0 auto;
}

.funfact {
align-items: right;
    /* height: 3rem; */
    width: 100%;
    
}

.logonav {
    align-items: right;
        height: 6rem;
        
    }

/* Hero style image */
.hero {
 margin: auto;
background-color: orange;
margin: auto;
}

.hero-map {
  width: 80%;
  border-radius: 30px;
    /* //centering the image */
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.map-section {
    width: 90%;
    margin: auto;
   position: relative;
   z-index: 1;

}


.hero-cta{
    
    width: 80%;
    text-align: left;
    color: #000000;
   border-radius: 30px;
    font-size: .7em;
   /* padding: 20px; */
    border: 3px solid rgb(255, 0, 0);
}

.hero-cta-two{
    width: 50%;
   
    text-align: left;

    color: rgb(0, 0, 0);
   border-radius: 30px;
    line-height: 1.2;
    border: 3px solid rgb(0, 255, 13);
    

}

.insurance-testimonial{
    display: flex;
    background-color: #ffffff;
   
}
.image-box {
 
    width: 40%;
 
  
}


.btnFreeQuote{
    background-color: rgba(56, 252, 66, 0.8);
    font-size: 2em;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 80px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(226, 252, 56, 0.8);
    border: 3px solid var(--secondary-color);
    color: rgb(0, 0, 0);
    cursor: hand;
}

.ratesbtn:hover {
    background-color: rgba(226, 252, 56, 0.8);
    font-size: 2.3em;
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(226, 252, 56, 0.8);

    color: rgb(0, 0, 0);
    cursor: hand;
}

.header-save-big {
    color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    margin: 0% 10% 0 10%;
    border: 5px solid rgb(195, 255, 0);
    background-color: #4CAF50;
}


.test-image {
   float: right;
   
    height: 10.5em;
    align-items: right;
   border-radius: 90px;
   margin-right: 15px;
  
}


    .banner {
       
        color: rgb(0, 0, 0);
       
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        font-size: 30px;
        width: 100%;
        height: 4.0em;
       display: none;
    }

    .bannerbox img {
       max-height: 3.5em;
     
    }

    .bannerbox{
        float:left; 
        
        width:30%;
       
    }

    .bannerboxtwo{
        float:left; 
       padding-top: 1em;
       
        width:70%;
        
        vertical-align: middle;
      
    }
    .bannerboxthree{
        float:right;
        background:blue;
        width:30%;
        vertical-align: middle;
        display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
        
    }

    .banner-text{
        font-size: 1.4vw;
    }
  
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        margin-left: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 30px;
    }

    .button:hover {
        background-color: #3a19ca;
        color: white;
      }

.test-wordsbox {
    color: #000000;
    width: 90%;
    float: left;
    padding: 20px;
    font-size: 1.5vw;
    font-style: italic;
    background-color: #fff;
    border-radius: 20px;
}

.hero-cta-three{
    margin: auto;
   text-align: center;
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    width: 90%;
    font-size: 1.4em;
    background-color: rgba(252, 250, 157, 0.966);
}


.stateboxes{
    border: 3px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    width: 90%;
    margin: auto;
}

.redstates {
  
    display: inline-block;
    border: 1px solid red;
    padding-left: 3rem;
    vertical-align: top;
    background-color: red;
    width: 40%;
    color: #ffffff;
    border-radius: 20px;
    font-size: 2vw;
}

.greenstates {
    
    margin-left: 5%;
    display: inline-block;
    padding-left: 3rem;
    
    vertical-align: top;
    background-color: green;
    width: 40%;
    border-radius: 20px;
    color: #ffffff;
    font-size: 2vw;
}

.pricingList{
    font-size: .4em;
    color: black;
}


a {
    text-decoration: none;
    color:rgba(0, 0, 0, 1.0)
}

.hero-cta h2 {
    
    font-style: italic;
    font-size: 55px;
    color: #000000;
}


.specialWord {
    
    font-style: italic;
    text-decoration: italic;
    font-size: 55px;
    color: #242802;
    text-shadow:1px 1px 20px #e6ff01, 1px 1px 10px #ccc;
    font-size:48px;
    text-align:center;    
}

body p {
    color:var(--tertiary-color);
    flex-wrap: wrap;
}


.hero-form-cta {
    background-color: rgba(252, 111, 56, 0.8);
    padding: 5px;
    width: 60%;
    
    z-index: 2;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
  /* position: absolute; */
   /* margin-top: 10px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    border-radius: 15px;
   
}

.hero-form-cta-two {
    background-color: rgba(56, 252, 66, 0.8);
    /* padding: 5px; */
    width: 60%;
    text-align: right;
    color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
   /* margin-top: -60px; */
   float: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    border-radius: 15px;
    /* z-index: 3; */
    /* position: absolute; */
   
}


.hero-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 50px 50px 50px;
    width: 80%;
    
    color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
    bottom: 120px;
    /* right: 140px; */
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    border-radius: 15px;
}
.hero-form button:hover {
    background-color: var(--tertiary-color);
}

.hero-form h3 {
    font-size: 24px;
    margin: 0px;
}







.compareheader {
    color: #000000;
    /* font-size: 1.0rem; */
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    text-align:center;    
    position: relative;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    display: block;
    margin-left: auto;
    margin-right: auto;

}



.form-input {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rbga(255,255,255,0.75);
}
.form-input:focus {
    background-color: rgba(255,255,255,1);
    outline: none;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}
.intro h2 {
   
}

.poweredBy {
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;
    

}

.intro p {
    line-height: 1.7;
    color: rgb(0, 0, 0);
    width: 80%;
   font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

.steps {
    background: var(--primary-color);
}

.steps h2 {
    
}
.section-title-one {
    font-size: 40px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    border-right: 3px solid;
    border-left: 3px solid;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 100%;
}

.text-sze{
    font-size: 5px;
    color: blue;
}


.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 100%;
}

.primary-border {
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}
.step {
    margin: 10px auto;
    padding-bottom: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.pricingImage {
    width: 100%;
    padding-top: 0px;
    

}
.step:not(:last-child) {
    border-bottom: 1px solid var(--tertiary-color);
}

.step:nth-child(even) {
    border-bottom: 1px solid var(--tertiary-color);
}

.step h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
}

.step-text p {
    color: var(--tertiary-color);
    font-size: 18px;
}
.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.step-img {
    flex: 1 12%;
    margin-right: 20px;
}
.step-img img {
    max-width: 100%;
}
.step-text {
    flex: 12;
}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.trainers {
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.trainer {
    margin: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
}

.trainer img {
    width: 100%;
   
}

.trainer-bio {
    padding: 25px;
    line-height: 1.3;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
.flex-row {
    display: flex;
}

.trainer-bio h3 {
    font-size: 28px;
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}

.trainer-bio p {
    font-size: 17px;
}

/* Reach out style start */
.contact {
    background: var(--secondary-color);
}

.contact h2 {
    color: var(--primary-color);
}

.heroTwo {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../images/green-vs-red.png");
    background-size: 52% auto;
    background-position: 50% 5%;
    background-repeat: no-repeat;
    height: 400px;

}

.contact-info iframe {
    height: 400px;
}

.contact-info div {
    color: white;
}


.contact h3 {
    color: var(--primary-color);
    font-size: 32px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-info > * {
    flex: 1;
    margin: 15px;
}
.contact-info p, .contact-info address{
    color: var(--tertiary-color);
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-info a {
    color: var(--primary-color);
}
.contact-form input, .contact-form textarea {
 
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rbga(255,255,255, 0.75);
}
.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
}
.contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}
.contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
}

.checkbox-wrapper input, .radio-wrapper input {
    opacity: 0;
}


.checkbox-wrapper label, .radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rbga(255,255,255, 0.75);
    border: 1px solid var(--secondary-color);
    position: absolute;
    top: -4px;
    left: -30px;
}
.radio-wrapper label::before {
    border-radius: 50%;
}
.radio-wrapper label::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color));
}
.checkbox-wrapper label::after {
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);
}
.checkbox-wrapper input + label::after, .radio-wrapper input + label::after {
    content: none;
}

.checkbox-wrapper input:checked + label::after, .radio-wrapper input:checked +label::after {
    content: "";
}

.insurify-logo {
   
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    display: none;
   
}

.insurify-logo img {
    width: 100%;
    height: 100%;
    display: block;
}

#bannerId{
    display: none;

}

/*Media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
     
  }

  .hero {
    margin-top: 30px;
    
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/green-vs-red.png");
    background-size: 52% auto;
    background-position: 50% 5%;
  
    background-repeat: no-repeat;
    height: 400px;
}

  header h1 {
      width: 100%;
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;

  }
  header nav ul li a {
      font-size: 20px;
      text-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  }
  footer h2, footer div {
      text-align: center;
      width: 100%;
      font-size: 20px;
  }


  .hero-cta, .hero-form {
      width: 100%;
  }
  .hero-cta {
      text-align: center;
      text-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  }
  .section-title {
      width: 80%;
      
      
  }
  .trainer {
      flex: 0 70%;
  }
  .contact-info iframe {
      flex: 1 100%;
  }
}
/*Media query for tablets and smaller*/
@media screen and (max-width: 768px) {
   section {
    padding: 30px 15px;
   }
   .step h3 {
       flex: 1 100%;
       text-align: center;
   }
   .step-info {
       flex: 2 100%;
       text-align: center;
       justify-content: center;
   }
   .step-img {
       flex: 0 32%;
       margin-right: 0;
       margin-top: 15px;
       margin-bottom: 15px;
   }
   .step-text {
       flex: 100%;
   }

   .hero-cta, .hero-form {
    width: 100%;
}
.hero {
    margin-top: 60px;
    
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/green-vs-red.png");
    background-size: 52% auto;
    background-position: 50% 5%;
  
    background-repeat: no-repeat;
    height: 400px;
}


.hero-cta {
    
    text-align: center;
    text-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    font-size: smaller;
}


}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
     /* width: 30%;Could be more or less, depending on screen size */
  }
  

.drugbanner {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

  #pricingImage {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   
  }


  #presscritions-list {
    display: none;
  }
  
  .searchText {
    width: 100%;
    color: #000000;
  }

  .searchPrescriptions {
    /* align-items: auto; */
    /* align-content: center; */
    background-color: #078bd2;
    width: 100%;
    padding: 22px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 4px solid rgb(34, 0, 255);
    border-radius: 40px;
    background-color: #dcfdf1;
    color: rgb(0, 0, 0);
    font-size: 20px;
    /* transition: width 0.4s ease-in-out; */

  }



.searchBox {
    color: var(--primary-color);
   margin: auto;
    width: 70%;
    /*  border: 3px solid green;
    border-bottom: 2px solid var(--secondary-color);
   background-color: var(--primary-color); */
    padding: 20px 0 60px 0;
    border-radius: 30px;
}

.searchBoxTotal {
    
    align-items: center;
    border-radius: 30px;
}

  .pricingBtn {
      background-color: #c2fbd7;
      border-radius: 100px;
      box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
      color: green;
      cursor: pointer;
      display: inline-block;
      font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .pricingBtn:hover {
      box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
      transform: scale(1.05) rotate(-1deg);
    }

  

  #indivPricing{
    display: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
     /* width: 30%;Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .crypto-div {
    color: grey;
    background-color: white;
    border-radius: 5px;
    columns: auto;
   
    margin: 20px;
}

/*SMART PHONE ****  Media query for mobile phones and smaller */
@media screen and (max-width: 575px) {




}